.dotfiles
.cabal
.cache
.cargo
.config/chromium
.config/Code
.config/Cypress
.config/GIMP
.config/notion-app
.config/yarn
.npm
.Xauthority
.bash_history
.bash_logout
.elm
.local
.local/share/nvim
.local/share/virtualenv
.local/share/Steam
.local/share/TelegramDesktop
.mozilla
.nvm
.paradoxlauncher
.rustup
.vscode
aws
go
